{% extends "::base.html.twig" %}
{% block extracss %}
    <link rel="stylesheet" href={{ asset("css/game.css") }}>
{% endblock %}

{% block body %}
    <section class="section frontpage">
        <div class="column  has-text-centered container-alpha container-center">
            <div class="blur"></div>
            <div class="content">
                <a class="button btn-round main me" type="button" onclick="showMe()">
                    <span class="btn-round-text">
                        Over mij
                    </span>
                </a>
                <a class="button btn-round main " type="button" onclick="showThesis()">
                    <i class="fa fa-robot"></i>
                    <span class="btn-round-text">
                            Thesis onderzoek
                        </span>
                </a>
                <a class="button btn-round main in" type="button" onclick="showCV()">
                    <i class="far fa-address-card"></i>
                    <span class="btn-round-text">
                        Curriculum Vitae
                        </span>
                </a>
                <div id="info">

                </div>
            </div>
        </div>
    </section>

{% endblock %}

