{% extends "::base.html.twig" %}

{% block body %}
    <section class="hero is-medium is-bold photo-hero">
        <div class="hero-head">
            <div class="navbar">
                <div class="navbar-brand ">

                </div>
            </div>
        </div>
        <div class="hero-body has-text-centered">
            FvG.nl
        </div>
        <div class="hero-foot">
            <div class="container">
                <nav class="tabs is-boxed">
                    <ul>
                        <li>
                            <a>Over mij</a>
                        </li>
                        <li>
                            <a>Thesis onderzoek</a>
                        </li>
                        <li>
                            <a>Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container has-text-centered">

        </div>
    </section>

    <footer class=" footer is-small has-text-centered">
        <small>
            Please check my <a href="https://www.linkedin.com/in/fvg1988/"><i class="fa fa-linkedin" aria-hidden="true"></i></a> or <a href="_CV_Frans_van_Grunsven_2017.pdf">CV</a>
        </small>
    </footer>



{% endblock %}

