{% extends "::base.html.twig" %}

{% block body %}
    <section class="hero is-primary is-fullheight is-bold">
        <div class="hero-head">
            <div class="navbar">
                <div class="navbar-brand ">
                    <div class="navbar-item">
                        FvG.nl
                    </div>

                </div>
            </div>
        </div>
        <div class="hero-body has-text-centered">
            <div class="tile is-ancestor">
                <div class="tile is-vertical is-12 is-parent">
                    <div class="title is-12 is-child">
                        Welkom!
                    </div>
                    <div class="tile is-12 is-child">
                        {% if app.user %}
                            You are logged in <a href="{{ path('logout') }}">Logout</a>
                        {% else %}
                            {{ render(controller('AppBundle:Security:login')) }}
                        {% endif %}
                    </div>
                </div>
            </div>



        </div>


        <div class="hero-foot has-text-centered">
            <small>
                Please check my <a href="https://www.linkedin.com/in/fvg1988/"><i class="fa fa-linkedin" aria-hidden="true"></i></a> or <a href="_CV_Frans_van_Grunsven_2017.pdf">CV</a>
            </small>
        </div>
    </section>


{% endblock %}

