{% extends "::base.html.twig" %}

{% block body %}

    <section class="hero is-info ">
        <div class="hero-head">
            <div class="navbar">
                <div id="navbarMenuHeroA" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item" href="{{ path('logout') }}">
                            Log uit
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-body">
            <div class="title">
                Gebuikerspagina
            </div>
            <div class="subtitle">
                Welkom {{ app.user.userprofile.firstname }}
            </div>
        </div>

    </section>


{% endblock %}